*{
  box-sizing: border-box;
  margin: 0;
}

nav {
  display: flex;
  height: 10vh;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  padding: 0 2rem;
  background-color: #2c3e50;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

#modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  width: 50vw;
  position: absolute;
  top: 12vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ecf0f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
#modal-content button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #2980b9;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#modal-content button:hover {
  background-color: #3498db;
  transform: scale(1.25);
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 20px;
  background-color: #ecf0f1;
}

nav > .menu-btn {
  position: absolute;
  top: 35px;
  left: 35px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer; 
}

.menu-btn:hover {
  color: #ecf0f1;
}

.menu-open {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  color: white;
  cursor: pointer; 
  margin: 5px;
}

.content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
}

.content h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1rem;
  color: #34495e;
  line-height: 1.5;
}

.overlay {
  display: none;
}

.overlay-shown {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}